extends ../layout

block content
    .page-header
        h3= title
            p
            .row
                .span12
                    ul
                        li
                            a(href='exportclients') All Client Data
                        li
                            a(href='exportbuyers') All Buyer Data


