.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        |         
        span.icon-bar
        |         
        span.icon-bar
        |         
        span.icon-bar
      |
      a.navbar-brand(href='#')
        img(src='/images/otterdocs3.png', height='25')

    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav

        if !user
          li(class=(title === 'Home') ? 'active' : undefined)
            a(href='/') Home
        else
          li
            a(href='/dashboard') 
              | Dashboard 
              span.fa-dashboard.fa.fa-2x.pull-left.icon-all
              span.sr-only (current)

          li.dropdown
            a.dropdown-toggle(href='/clients', aria-haspopup='true', aria-expanded='false')
              | Clients 
              span.fa-users.fa.fa-2x.pull-left.icon-all
              span.caret
            |           
            ul.dropdown-menu.fa-ul
              li
                a(href='/client') 
                  | Add a Client
                  span.fa-user.fa.fa-lg.pull-left.icon-all
              //- |             
              //- li
              //-   a(href='/buyer') 
              //-     | Add a Buyer
              //-     span.fa-user.fa.fa-lg.pull-left.icon-buyer
              //- |             
              //- li.divider(role='separator')
              //- |             
              //- li
              //-   a(href='/clients') 
              //-     | List All Clients
              //-     span.fa-users.fa.fa-lg.pull-left.icon-all

          //- li
          //-   a(href='/clients') 
          //-     | Clients 
          //-     span.fa-users.fa.fa-2x.pull-left.icon-all

          li.dropdown
            a.dropdown-toggle(href='', aria-haspopup='true', aria-expanded='false')
              | Properties 
              span.fa-home.fa.fa-2x.pull-left.icon-all
              span.caret
            |
            ul.dropdown-menu(style='width: auto;').fa-ul
              li
                a(href='/buyer')
                  | Add Buyer Offer
                  //- span.fa-home.fa.fa-lg.pull-left.icon-all
              li
                a(href='/buyers')
                  | Show ALL Buyer Offers
                  //- span.fa-home.fa.fa-lg.pull-left.icon-all
              li.divider
              li
                a(href='/seller')
                  | Add Seller Listing
              li
                a(href='/sellers')
                  | Show ALL Seller Listings
                  //- span.bg-success explain it
                  //- span.fa-home.fa.fa-lg.pull-left.icon-all

      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title === 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title === 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') 
                  | My Account
                  span.fa-edit.fa.fa-lg.pull-left.icon-all
              li
                a(href='/status') 
                  | System Status
                  span.fa-gears.fa.fa-lg.pull-left.icon-all
              li.divider
              li
                a(href='/logout') 
                  | Logout
                  span.fa-sign-out.fa.fa-lg.pull-left.icon-all
      if user      
        form.navbar-form.navbar-right(role='search')
          .form-group
            input.form-control(type='text', placeholder='Search')
          |         
          button.btn.btn-default(type='submit') Submit


