extends layout

block content
  .page-header
    h3 Buyer Contract Information

  .col-md-4
    .row
      .board
        .board-inner
          ul#tabgroup1.nav.nav-tabs
            .liner
            li.active
              a(href='#clientTabInformation', data-toggle='tab', title='Basic Information')
                span.round-tabs.one
                  i.glyphicon.glyphicon-home
            li
              a(href='#clientTabAdditional', data-toggle='tab', title='Additional Information')
                span.round-tabs.two
                  i.glyphicon.glyphicon-plus
            li
              a(href='#clientTabDatesDeadlines', data-toggle='tab', title='Dates & Deadlines')
                span.round-tabs.four
                  i.glyphicon.glyphicon-calendar
            li
              a(href='#clientTabNotes', data-toggle='tab', title='Client Notes')
                span.round-tabs.five
                  i.glyphicon.glyphicon-comment
            //- li
            //-   a(href='#clientTabEmail', data-toggle='tab', title='Email')
            //-     span.round-tabs.six
            //-       i.glyphicon.glyphicon-envelope
            //- li
            //-   a(href='#clientTabPhotos', data-toggle='tab', title='Photos')
            //-     span.round-tabs.six
            //-       i.glyphicon.glyphicon-picture

        form.form-horizontal(action='/client', method='POST', id='clientform')
          input(type='hidden', name='_csrf', value=_csrf)

          .tab-content
            #clientTabInformation.tab-pane.fade.active.in

              .row
                .col-sm-12
                  label.lb-sm(for='client_address') Address
                  input#client_address.form-control.input-sm(name='client_address', type='text', placeholder='123 Sample Street, Unit B', required, value='999 Halstead Avenue')
              .row
                .col-sm-12
                  label.lb-sm(for='client_city') City
                  input#client_city.form-control.input-sm(name='client_city', type='text', required, value='Barstow')
              .row
                .col-sm-8
                  label.lb-sm(for='client_state') State
                  select#client_state.form-control.input-sm(name='client_state]')
                    //option(hidden='true') 
                    option(value=1) Montana
                    option(value=2) Colorado
                .col-sm-4
                  label.lb-sm(for='client_zip') ZIP Code
                  input#client_zip.form-control.input-sm(name='client_zip', type='text', required, value='59901')

              .row
                .col-sm-12
                  p &nbsp;

              .row
                .col-sm-12
                  p.sect-sm 
                    h3 Client Information
              .row
                .col-sm-12
                  | Primary: Brown, Charlie - 406-555-1212 (p) | Edit - Remove
              .row
                .col-sm-12
                  | Seconday: Brown, Marry - 406-555-1212 (p) | Edit - Remove
              .row
                .col-sm-12
                  | *Add Client*<br>*Add Property*


              .row
                .col-sm-12
                  p.sect-sm 
                    h3 Terminated Contract
              .row
                .col-sm-12
                  | 11/02/2017 - View Pending Documents (only)


            #clientTabAdditional.tab-pane.fade
              .row
                .col-sm-12
                  p.sect-sm 
                    | Additional Information

              .row
                .col-sm-12
                  label.lb-sm(for='client_purchaseprice') Purchase Price
                  .input-group.mb-2.mr-sm-2.mb-sm-0
                    .input-group-addon $
                    input#client_purchaseprice.form-control.input-sm(name='purchaseprice', type='text', pattern='[0-9]')
              .row
                .col-sm-12
                  label.lb-sm(for='client_earnestprice') Earnest Money
                  .input-group.mb-2.mr-sm-2.mb-sm-0
                    .input-group-addon $
                    input#client_earnestprice.form-control.input-sm(name='earnestprice', type='text', pattern='[0-9]')
              .row
                .col-sm-12
                  label.lb-sm(for='client_clientconcession') Seller Concession
                  .input-group.mb-2.mr-sm-2.mb-sm-0
                    .input-group-addon $
                    input#client_clientconcession.form-control.input-sm(name='clientconcession', type='text', pattern='[0-9]')
              .row
                .col-sm-12
                  p &nbsp;
              .row
                .col-sm-12
                  label.lb-sm(for='client_titlecompany') Title Company
                  select#client_titlecompany.form-control.input-sm(name='titlecompany]')
                    //option(hidden='true') 
                    option(value=1) Other Title Company
                    option(value=2) Land Title Company
                    option(value=3) Abstract Title Company
                    option(value=4) Advanced Title Company

              .row
                .col-sm-12
                  label.lb-sm(for='client_titlecompany') Mortgage Lender
                  select#client_titlecompany.form-control.input-sm(name='titlecompany]')
                    //option(hidden='true') 
                    option(value=1) Other Mortgage Lender
                    option(value=2) Land Title Company
                    option(value=3) Abstract Title Company
                    option(value=4) Advanced Title Company

              .row
                .col-sm-12
                  label.lb-sm(for='client_sellingagent') Selling Agent
                  select#client_sellingagent.form-control.input-sm(name='sellingagent]')
                    //option(hidden='true') 
                    option(value=1) Dave Kimbrough
                    option(value=2) Marky Mark
              .row
                .col-sm-12
                  label.lb-sm(for='client_salestype') Sales Type
                  select#client_salestype.form-control.input-sm(name='salestype]')
                    //option(hidden='true')
                    // DEFAULT TO N/A 
                    option(value='N/A') N/A
                    option(value='HUD') HUD
                    option(value='REO') REO
                    option(value='SHORT') SHORT SALE

            #clientTabDatesDeadlines.tab-pane.fade
              .row
                .col-sm-12
                  p.sect-sm 
                    | Dates & Deadlines
              .row
                .col-sm-12
                  input#checkBox(type='checkbox')
                  | Send deadline notifications to me. (agent only)

              .row
                .col-sm-6
                  label.lb-sm(for='client_listdate') Contract Date
                  input#client_listdate.form-control.input-sm(name='listdate', type='date')
                .col-sm-6
              //- .row
              //-   .col-sm-6
              //-     label.lb-sm(for='client_expirationdate') Expiration Date
              //-     input#client_expirationdate.form-control.input-sm(name='expirationdate', type='date')
              //-   .col-sm-6



              //- Alternative Earnest Money Deadline

              //- Title
              //-   Record Title Deadline
              //-   Record Title Objection Deadline
              //-   Off-Record Title Deadline
              //-   Off-Record Title Objection Deadline
              //-   Title Resolution Deadline
              //-   Right of First Refusal Deadline

              //- Owners' Association
              //-   Association Documents Deadline
              //-   Association Documents Objection Deadline

              //- Seller's Property Disclosure
              //-   Seller's Property Disclosure Deadline

              //- Loan
              //-   Loan Application Deadline
              //-   Loan Objection Deadline

              //- Appraisal
              //-   Appraisal Deadline
              //-   Appraisal Objection Deadline
              //-   Appraisal Resolution Deadline

              //- Survey
              //-   New ILC or New Survey Deadline
              //-   New ILC or New Survey Objection Deadline
              //-   New ILC or New Survey Resolution Deadline

              //- Inspection and Due Diligence
              //-   Inspection Objection Deadline
              //-   Inspection Resolution Deadline
              //-   Property Insurance Objection Deadline
              //-   Due Diligence Documents Delivery Deadline
              //-   Due Diligence Documents Objection Deadline
              //-   Due Diligence Documents Resolution Deadline
              //-   Conditional Sale Deadline

              //- Closing and Possession
              //-   Closing Date
              //-   Possession Date

              .row
                .col-sm-6
                  label.lb-sm(for='client_expirationdate') Closing Date
                  input#client_closingdate.form-control.input-sm(name='closingdate', type='date')
                .col-sm-6

                //Alternative Earnest Money Deadline
                //Record Title Deadline

            #clientTabNotes.tab-pane.fade
              .row
                .col-sm-12
                  table.table.table-striped
                    thead
                      tr
                        th.lb-sm Notes
                        th.lb-sm Added
                        th.lb-sm Action
                    tbody
                      tr
                        td (todo) Need to talk to them about painting the bedroom another color. It is not that attractive.
                        td 10/17/2017
                        td 
                          a(href='#') Edit
                      tr
                        td (done) Garage door needs to be replaced too. Buyer just backed into it. What an idiot!
                        td 10/23/2017
                        td 
                          a(href='#') Edit

            //- #clientTabEmail.tab-pane.fade
            //-   .row
            //-     .col-sm-12
            //-       table.table.table-striped
            //-         thead
            //-           tr
            //-             th.lb-sm Email
            //-             th.lb-sm Added
            //-         tbody
            //-           tr
            //-             td 
            //-               | Message sent to Adv. Title Company w/ the following attachments.<br>
            //-               img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
            //-               |  Client's Settlement Statement<br>
            //-               img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png') 
            //-               |  Four Column Summary
            //-             td 10/17/2017

            //- #clientTabPhotos.tab-pane.fade
            //-   .row
            //-     .col-sm-12
            //-       img(src='https://photos.zillowstatic.com/p_f/ISivbtc4083o491000000000.jpg', style='padding:10px; width:50%;')
            //-       img(src='https://photos.zillowstatic.com/p_f/ISmuxkpjvtmq3e1000000000.jpg', style='padding:10px; width:50%;')
            //-       img(src='https://photos.zillowstatic.com/p_f/ISug4rynhigeha1000000000.jpg', style='padding:10px; width:50%;')
            //-       img(src='https://photos.zillowstatic.com/p_f/ISeov87drlet3e1000000000.jpg', style='padding:10px; width:50%;')
            //-       img(src='https://photos.zillowstatic.com/p_f/ISq94v25a7bdle1000000000.jpg', style='padding:10px; width:50%;')

            //-       img(src='https://photos.zillowstatic.com/p_f/ISinl70172udw91000000000.jpg', style='padding:10px; width:50%;')
            //-       img(src='https://photos.zillowstatic.com/p_f/ISybrk60j5yy3e1000000000.jpg', style='padding:10px; width:50%;')
            //-       img(src='https://photos.zillowstatic.com/p_f/ISma2fghda8hha1000000000.jpg', style='padding:10px; width:50%;')
            //-       img(src='https://photos.zillowstatic.com/p_f/ISe403ya920kha1000000000.jpg', style='padding:10px; width:50%;')
            //-       img(src='https://photos.zillowstatic.com/p_f/IS2ni85a291a4e1000000000.jpg', style='padding:10px; width:50%;')

          .row
            .col-sm-12
              p
          .row
            .col-sm-12
              button.btn.btn-primary(type='submit', form='clientform') Submit  
  .col-md-1
  .col-md-7
    .row
      .board
        .board-inner
          ul#tabgroup2.nav.nav-tabs
            .liner
            li.active
              a(href='#doctab0', data-toggle='tab', title='doctab0')
                span.round-tabs.zero
                  | Calendar 
            li
              a(href='#doctab2', data-toggle='tab', title='doctab2')
                span.round-tabs.two
                  | Pending 
                  //- span.label.label-primary 25%
            li
              a(href='#doctab3', data-toggle='tab', title='doctab3')
                span.round-tabs.three
                  | Title Company 
                  //- span.label.label-primary 65%
            li
              a(href='#doctab4', data-toggle='tab', title='doctab4')
                span.round-tabs.four
                  | Misc. 
                  //- span.label.label-default

        .tab-content

          #doctab0.tab-pane.fade.active.in
            p
            #calendar.calendar

          #doctab2.tab-pane.fade
            table.table.table-striped
              thead
                tr
                  th.lb-sm Documents
                  th.lb-sm Uploaded On
                  th.lb-sm Attachments
                  th.lb-sm Action
              tbody
                tr
                  td Sales Contract
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Counter-Proposal
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Closing Instructions
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                  td 
                    a(href='#') Upload
                tr
                  td Earnest Money Receipted
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Square Footage Disclosure (*)
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Sellers Property Disclosure (*)
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                  td 
                    a(href='#') Upload
                tr
                  td Lead Based Paint (Obligations) (pre 1978)
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                  td 
                    a(href='#') Upload
                tr
                  td Source of Water Addendum (unless on SPD)
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')                     
                  td 
                    a(href='#') Upload
                tr
                  td Inspection Objection
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')                     
                  td 
                    a(href='#') Upload
                tr
                  td Inspection Resolution
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Title Commitment
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Notice of Termination
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Earnest Money Release
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Other Documents
                  td 
                  td 
                  td 
                    a(href='#') Upload
            button.btn.btn-danger.btn-cons(type='button') Terminate Current Contract

          #doctab3.tab-pane.fade
            table.table.table-striped
              thead
                tr
                  th.lb-sm Documents
                  th.lb-sm Uploaded On
                  th.lb-sm Attachments
                  th.lb-sm Action
              tbody
                tr
                  td Client's Settlement Statement
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                  td 
                    a(href='#') Upload
                tr
                  td Buyer's Settlement Statement
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                  td 
                    a(href='#') Upload
                tr
                  td Closing Instructions
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Power of Attorney
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Deed (General/Special/P.R.) (*)
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Four Column Summary
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                  td 
                    a(href='#') Upload
                tr
                  td Tax Certificate
                  td 10/15/2017
                  td 
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')                     
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')                     
                    img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')                     
                  td 
                    a(href='#') Upload
                tr
                  td Water/Sewer/HOA Aggreement & Proration
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Bill of Sale
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Real Property Transfer Declaration
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Pay-Off Information
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Final Affidavit and Agreement
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Affirmation of Colorado Residency
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Commission Disbursement
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td 1099
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Other Documents
                  td 
                  td 
                  td 
                    a(href='#') Upload

          #doctab4.tab-pane.fade
            table.table.table-striped
              thead
                tr
                  th.lb-sm Documents
                  th.lb-sm Uploaded On
                  th.lb-sm Attachments
                  th.lb-sm Action
              tbody
                tr
                  td Listing Fact Sheet
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Mesa County Assessor
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Mill Tailings
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Receipted Doc's & Disclosures
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td FHA Amendatory Clause
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Occupancy Rental Agreement
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Referral Form
                  td 
                  td 
                  td 
                    a(href='#') Upload
                tr
                  td Other Documents
                  td 
                  td 
                  td 
                    a(href='#') Upload
