extends layout

block content
  .page-header
    h3 Client Listing

  .row
    .col-sm-12
      //#eventsResult.alert.alert-success
        //| Here is the result of event.
      //.fixed-table-loading(style='top: 41px; display: none;') Loading, please wait...
      
      table#clientsTable.table.table-no-bordered(data-toggle='table', data-pagination='true', data-search='true', data-show-refresh='true', data-show-toggle='true', <='', body='', data-show-columns='true')
        thead
          tr
            //th(data-field='Type') Type
            th(data-field='Lastname', data-sortable='true') Last Name
            th(data-field='Firstname', data-sortable='true') First Name
            th(data-field='Added', data-sortable='true') Added
            th.text-center(data-field='Action', data-sortable='true') Action
        tbody
          tr.danger
            td Brown
            td Charlie
            td 2017-10-13
            td Update Client | Address | List | Sale
          tr
            td Jones
            td Thomas
            td 2017-10-13
            td Update Client | Address | List | Sale
          tr.success
            td Harman
            td Elizabeth
            td 2017-10-13
            td Update Client | Address | List | Sale
          tr.warning
            td Shelton
            td Gary
            td 2017-10-13
            td Update Client | Address | List | Sale
          tr.success
            td Witherspoon
            td Carla
            td 2017-10-13
            td Update Client | Address | List | Sale

            