extends layout

block content
  .page-header
    h3 Hometown Realty & Property Services Dashboard

    .row
      .col-sm-4
        p
        | Favorites
        p
        | Activity Feed
      .col-sm-1
      .col-sm-7
        p
        #calDashboard.calendar.col-md-12
