extends layout

block content

  .page-header
    h3= title
    h3 Hometown Realty & Property Services Dashboard

    .row
      .col-sm-4
        p
        | Favorites
        p
        | Activity Feed
      .col-sm-1
      .col-sm-7
        p
        #calDashboard.calendar.col-md-12

  script.
    $(document).ready(function() {
      var buyersCalendar = !{buyersCalendar};

      // Glocal Calendar Controls
      $(".fc-prev-button").click({});
      $(".fc-next-button").click({});

      // Dashboard Calendar
      $("#calDashboard").fullCalendar({
        header: {
          left: "title", // month,agendaWeek,agendaDay
          right: "prev,next today"
        },
        selectable: true,
        events: buyersCalendar,
        eventRender: function(event, element) {
            console.log(event);
            element.qtip({
                content: event.description,
                style: {
                    background: 'black',
                    color: '#FFFFFF'
                },
                position: {
                    corner: {
                        target: 'center',
                        tooltip: 'bottomMiddle'
                    }
                }
            });
        }
      });
    });

  //- div
  //-   if process.env.DEBUG= true
      //- code.formattedDebug= buyersCalendar
      //- p
      //- code.formattedDebug= dataset