@import "themes/otterdocs1/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/otterdocs1/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  //background-image: url(/images/otterbg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// ------------------------- 

.fa {
  margin-right: 6px;
}

/*
  Custom CSS
*/
.lb-sm {
  font-size: 12px; }

.lb-md {
  font-size: 16px; }

.lb-lg {
  font-size: 20px; }

p.sect-sm {
  margin: 10px 0 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; } 

.page-header {
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 0px !important;
}

/* Otterdocs Custom */
.icon-all {
  vertical-align: middle; }

.icon-client {
  color: darkred; }

.icon-buyer {
  color: rgb(22, 46, 122); }

.dropdown:hover .dropdown-menu {
    display: block; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: white;
  background-color: #7DCEA0; } 

input#clients_search-flexdatalist {
  width: 97%;
}

li.input-container.flexdatalist-multiple-value {
  width: 100%;
}

input.currency {
  text-align: right;
  padding-right: 15px;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #eeeeee; // Choose your own color here
}

#upload_link{
  text-decoration:none;
}
#upload{
  display:none
}

.required .asterisk:after {
  content:" *";
  color:red;
  // font-size: 17px;
}

.form-row {
  margin-bottom: 10px;
}

.fa-star {
  color:gold;
}

// force table columns to fit content buttons
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

// add space between buttons
.btn-space {
  margin-right: 5px;
}
